<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Ronit's Portfolio</title>
	</head>
	<body class="bg-[#151515] mb-8">
		<div class="max-w-5xl mx-auto p-8 md:p-4">
			<slot />
		</div>
	</body>
</html>
